.HA_VERSION

.storage
.cloud
deps
tts
venv

hass.py

.idea
*.yaml
!/.github/workflows/*.yaml
!/.github/ISSUE_TEMPLATE/*.yaml

*.yml
!/.github/workflows/*.yml
!/.github/ISSUE_TEMPLATE/*.yml

*.db
*.log
!hacs.json
/venv/

__pycache__
custom_components/loxone/homeassistant
.vscode


.DS_Store

.coverage